In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\80104061\Documents\GitHub\machine-learning-project-team-4\CoffeeDataSecUpdate.csv')

In [3]:
df.head()

,Unnamed: 0,dose (g),water temp ( C ),water vol (ml),number of pours,TDS %,seconds
0,0,16,93,250,3,1.56,165.0
1,1,15,93,250,3,1.40,165.0
2,2,14,92,240,3,1.25,130.0
3,3,40,92,330,5,1.30,210.0
4,4,22,100,375,3,1.40,140.0

In [4]:
df.drop(columns='Unnamed: 0', inplace= True)

In [5]:
X = df[['dose (g)', 'water temp ( C )', 'water vol (ml)', 'number of pours', 'seconds']]
y = df['TDS %']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.17, random_state=42)

In [7]:
regr = LinearRegression(fit_intercept=True)
lineareg_model = regr.fit(X_train, y_train)

In [8]:
import pickle

# Save the model using the correct variable name
with open('lineareg_model.pkl', 'wb') as file:
    pickle.dump(lineareg_model, file)